Source: elmerfem-csc-eg
Section: science
Priority: optional
Maintainer: Elmer Administrator <elmeradm@csc.fi>
Build-Depends: cmake, g++-13, gcc-13, gfortran, gfortran-13, libblas-dev, libhypre-dev, liblapack-dev, libmetis-dev, libmumps-dev, libocct-data-exchange-dev, libocct-foundation-7.6t64, libocct-foundation-dev, libocct-modeling-algorithms-7.6t64, libocct-modeling-algorithms-dev, libocct-modeling-data-7.6t64, libocct-modeling-data-dev, libocct-visualization-7.6t64, libocct-visualization-dev, libparmetis-dev, libqt5opengl5-dev, libqt5svg5-dev, libqwt-qt5-dev, libvtk9-dev, libvtk9-qt-dev, lua5.3, mpi-default-dev, qtscript5-dev
Standards-Version: 4.0.0
Homepage: http://www.elmerfem.org

Package: elmerfem-csc-eg
Architecture: any
Depends: libblas3, liblapack3, gfortran, gfortran-13, gcc-13, g++-13, mpi-default-bin, lua5.3, libmumps-dev, libparmetis-dev, libmetis-dev, libhypre-2.28.0, libqt5opengl5-dev, qtscript5-dev, libqt5svg5-dev, qtscript5-dev, libqwt-qt5-dev, libqwt-qt5-dev, libqt5svg5-dev, libvtk9.1t64, libvtk9.1t64-qt, libocct-foundation-7.6t64, libocct-modeling-algorithms-7.6t64, libocct-modeling-data-7.6t64, libocct-visualization-7.6t64
Description: Elmer FEM suite with ElmerGUI
Replaces: elmerfem-csc
