Source: elmerfem-csc
Section: science
Priority: optional
Maintainer: Juhani Kataja <juhmat@gmail.com>
Build-Depends: cmake, build-essential, liblapack-dev, libblas-dev, libblas3, libopenmpi-dev, openmpi-bin, libmumps-dev, libhypre-dev, gfortran, gcc, g++, libparmetis-dev, libmetis-dev
Homepage: http://www.elmerfem.org

Package: elmerfem-csc
Architecture: any
Depends: libmumps-5.1.1, libhypre-2.11.1, openmpi-bin, libblas3, liblapack3, libparmetis4.0, libmetis5, libgfortran4, libopenblas-base
Description: Elmer finite element modeling monolithic suite, Does not contain ElmerGUI
